<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,85}</string>
                <key>spriteSourceSize</key>
                <string>{110,85}</string>
                <key>textureRect</key>
                <string>{{223,82},{110,85}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,81}</string>
                <key>spriteSourceSize</key>
                <string>{128,81}</string>
                <key>textureRect</key>
                <string>{{343,1},{128,81}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,90}</string>
                <key>spriteSourceSize</key>
                <string>{135,90}</string>
                <key>textureRect</key>
                <string>{{213,172},{135,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,74}</string>
                <key>spriteSourceSize</key>
                <string>{117,74}</string>
                <key>textureRect</key>
                <string>{{1,1},{117,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,105}</string>
                <key>spriteSourceSize</key>
                <string>{125,105}</string>
                <key>textureRect</key>
                <string>{{244,268},{125,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{96,89}</string>
                <key>spriteSourceSize</key>
                <string>{100,89}</string>
                <key>textureRect</key>
                <string>{{1,162},{96,89}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{119,96}</string>
                <key>spriteSourceSize</key>
                <string>{121,96}</string>
                <key>textureRect</key>
                <string>{{1,259},{119,96}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,100}</string>
                <key>spriteSourceSize</key>
                <string>{120,100}</string>
                <key>textureRect</key>
                <string>{{122,264},{120,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{118,94}</string>
                <key>spriteSourceSize</key>
                <string>{118,94}</string>
                <key>textureRect</key>
                <string>{{350,172},{118,94}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,105}</string>
                <key>spriteSourceSize</key>
                <string>{131,105}</string>
                <key>textureRect</key>
                <string>{{371,268},{131,105}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{114,86}</string>
                <key>spriteSourceSize</key>
                <string>{114,86}</string>
                <key>textureRect</key>
                <string>{{335,84},{114,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,83}</string>
                <key>spriteSourceSize</key>
                <string>{108,83}</string>
                <key>textureRect</key>
                <string>{{1,77},{108,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,79}</string>
                <key>spriteSourceSize</key>
                <string>{104,79}</string>
                <key>textureRect</key>
                <string>{{237,1},{104,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,84}</string>
                <key>spriteSourceSize</key>
                <string>{110,84}</string>
                <key>textureRect</key>
                <string>{{111,79},{110,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{115,76}</string>
                <key>spriteSourceSize</key>
                <string>{115,76}</string>
                <key>textureRect</key>
                <string>{{120,1},{115,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,92}</string>
                <key>spriteSourceSize</key>
                <string>{112,92}</string>
                <key>textureRect</key>
                <string>{{99,165},{112,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero.png</string>
            <key>size</key>
            <string>{503,374}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a72bd4c474edcca56b8f62e9816b2884:80292733f691edba0f09ee68176d0f75:e44e28a7f983377b8bb0c97d886e5bb7$</string>
            <key>textureFileName</key>
            <string>hero.png</string>
        </dict>
    </dict>
</plist>
